<ul class="nav nav-list">
    <li>
        <a href="/pages/php-basics.html">PHP Basics</a>
        {% include menu/php-basics.html %}
    </li>
    <li>
        <a href="/pages/functions.html">Functions</a>
        {% include menu/functions.html %}
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html">Strings & Patterns</a>
        {% include menu/strings-and-patterns.html %}
    </li>
    <li>
        <a href="/pages/arrays.html">Arrays</a>
        {% include menu/arrays.html %}
    </li>
    <li>
        <a href="/pages/io.html">I/O</a>
        {% include menu/io.html %}
    </li>
    <li>
        <a href="/pages/security.html">Security</a>
        {% include menu/security.html %}
    </li>
</ul>
