<ul class="nav nav-list">
    <li>
        <a href="/pages/php-basics.html">PHP Basics</a>
    </li>
    <li>
        <a href="/pages/functions.html">Functions</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html">Strings & Patterns</a>
    </li>
    <li>
        <a href="/pages/arrays.html">Arrays</a>
    </li>
    <li>
        <a href="/pages/io.html">I/O</a>
    </li>
    <li>
        <a href="/pages/security.html">Security</a>
    </li>
    <li>
        <a href="/pages/databases.html">Databases</a>
    </li>
    <li>
        <a href="/pages/oop.html">Object Oriented Programming</a>
    </li>
    <li>
        <a href="/pages/data-formats-and-types.html">Data Formats & Types</a>
    </li>
    <li>
        <a href="/pages/web-features.html">Web Features</a>
    </li>
    <li>
        <a href="/pages/design-and-theory.html">Design and Theory</a>
    </li>
</ul>