<ul class="nav nav-list">
    <li>
        <a href="/pages/php-basics.html">PHP Basics</a>
        <ul class="nav nav-list">
            <li>
                <a href="/pages/php-basics.html#php_tags">PHP Tags</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#comments">Comments</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#operators">Operators</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#variables">Variables</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#constants">Constants</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#controle_structures">Controle Structures</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#language_constructs">Language Constructs</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#namespaces">Namespaces</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#extensions">Extensions</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#config">Config</a>
            </li>
            <li>
                <a href="/pages/php-basics.html#performance_bytecode_caching">Performance. Bytecode caching</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/pages/functions.html">Functions</a>
        <ul class="nav nav-list">
            <li>
                <a href="/pages/functions.html#reasons">Reasons</a>
            </li>
            <li>
                <a href="/pages/functions.html#features">Features</a>
            </li>
            <li>
                <a href="/pages/functions.html#by_reference">By reference</a>
            </li>
            <li>
                <a href="/pages/functions.html#anonymous_functions_closures">Anonymous Functions, closures</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html">Strings & Patterns</a>
        <ul class="nav nav-list">
            <li>
                <a href="/pages/strings-and-patterns.html#functions">Functions</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#escape_sequences">Escape Sequences</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#matching_strings">Matching Strings</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#extracting">Extracting</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#formatting">Formatting</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#print_family">Print Family</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#printf_formatting_specifiers">Printf Formatting Specifiers</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#replacement">Replacement</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#pcreperl_compatible_regular_expressions__meta_characters">PCRE Meta Characters</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#pcre__pattern_modifiers">PCRE Pattern Modifiers</a>
            </li>
            <li>
                <a href="/pages/strings-and-patterns.html#heredoc_and_nowdoc">HEREDOC and NOWDOC</a>
            </li>
        </ul>
    </li>
</ul>
