<ul class="nav nav-list">
    <li>
        <a href="/pages/arrays.html#facts">Facts</a>
    </li>
    <li>
        <a href="/pages/arrays.html#iteration">Iteration</a>
    </li>
    <li>
        <a href="/pages/arrays.html#sorting">Sorting</a>
    </li>
    <li>
        <a href="/pages/arrays.html#stacks__queues">Stacks & Queues</a>
    </li>
    <li>
        <a href="/pages/arrays.html#functions">Functions</a>
    </li>
    <li>
        <a href="/pages/arrays.html#spl_objects_as_arrays">SPL, Objects as arrays</a>
    </li>
</ul>