<ul class="nav nav-list">
    <li>
        <a href="/pages/io.html#files">Files</a>
    </li>
    <li>
        <a href="/pages/io.html#constants">Constants</a>
    </li>
    <li>
        <a href="/pages/io.html#file_modes">File Modes</a>
    </li>
    <li>
        <a href="/pages/io.html#locks">Locks</a>
    </li>
    <li>
        <a href="/pages/io.html#file_functions">File Functions</a>
    </li>
    <li>
        <a href="/pages/io.html#streams">Streams</a>
    </li>
    <li>
        <a href="/pages/io.html#types">Types</a>
    </li>
    <li>
        <a href="/pages/io.html#components">Components</a>
    </li>
    <li>
        <a href="/pages/io.html#stream_functions">Stream Functions</a>
    </li>
    <li>
        <a href="/pages/io.html#sockets">Sockets</a>
    </li>
    <li>
        <a href="/pages/io.html#contexts">Contexts</a>
    </li>
</ul>