<ul class="nav nav-list">
    <li>
        <a href="/pages/security.html#levels">Levels</a>
    </li>
    <li>
        <a href="/pages/security.html#concepts">Concepts</a>
    </li>
    <li>
        <a href="/pages/security.html#validate_input">Validate Input</a>
    </li>
    <li>
        <a href="/pages/security.html#functions">Functions</a>
    </li>
    <li>
        <a href="/pages/security.html#register_globals">Register Globals</a>
    </li>
    <li>
        <a href="/pages/security.html#magic_quotes">Magic Quotes</a>
    </li>
    <li>
        <a href="/pages/security.html#escaping">Escaping</a>
    </li>
    <li>
        <a href="/pages/security.html#xss">XSS</a>
    </li>
    <li>
        <a href="/pages/security.html#csrf">CSRF</a>
    </li>
    <li>
        <a href="/pages/security.html#sessions">Sessions</a>
    </li>
    <li>
        <a href="/pages/security.html#session_fixation">Session Fixation</a>
    </li>
    <li>
        <a href="/pages/security.html#session_hijacking">Session Hijacking</a>
    </li>
    <li>
        <a href="/pages/security.html#command_injection">Command Injection</a>
    </li>
    <li>
        <a href="/pages/security.html#security_settings">Security Settings</a>
    </li>
    <li>
        <a href="/pages/security.html#encryption_hashing_algorithms">Encryption, Hashing algorithms</a>
    </li>
    <li>
        <a href="/pages/security.html#file_uploads">File uploads</a>
    </li>
    <li>
        <a href="/pages/security.html#data_storage">Data storage</a>
    </li>
    <li>
        <a href="/pages/security.html#ssl">SSL</a>
    </li>
</ul>