<ul class="nav nav-list">
    <li>
        <a href="/pages/strings-and-patterns.html#functions">Functions</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#escape_sequences">Escape Sequences</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#matching_strings">Matching Strings</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#extracting">Extracting</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#formatting">Formatting</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#print_family">Print Family</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#printf_formatting_specifiers">Printf Formatting Specifiers</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#replacement">Replacement</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#pcreperl_compatible_regular_expressions__meta_characters">PCRE Meta Characters</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#pcre__pattern_modifiers">PCRE Pattern Modifiers</a>
    </li>
    <li>
        <a href="/pages/strings-and-patterns.html#heredoc_and_nowdoc">HEREDOC and NOWDOC</a>
    </li>
</ul>